.titre{
font-family: OCR A Std, monospace;
text-align: center;
color : green;
}

.red {
    background-color: rgb(189, 68, 68) ;
}

.green {
    background-color:rgb(61, 131, 29);
}

.blue {
    background-color:rgb(32, 81, 155);
}

.yellow{
    background-color: rgb(190, 192, 62);
}

.orange{
    background-color: orange;
}

.gray{
    background-color: rgb(137, 149, 161);
}

.purple{
    background-color: rgb(108, 69, 146);
}

.lblue{
background-color: rgb(71, 173, 177) ;
}

#search-result {
    margin-top: 15px;
    padding-left: 3%;
    padding-right: 3%;
    max-width: none;
}

.card {
    margin-bottom: 15px;
}

input[type=text] {
width: 190px;
-webkit-transition: width 0.3s ease-in-out;
transition: width 0.3s ease-in-out;
border: 1px solid;
}



